*.log
*.mo
*.o
*.tar.xz
.deps/
.libs/
Makefile
Makefile.in
/aclocal.m4
/autom4te.cache
/build-aux
/config.*
/configure
/*.db
/*.db.xz
/libtool
/stamp-h1
/src/python/location
/src/python/location-importer
/src/python/__init__.py
/src/systemd/location-update.service
/src/systemd/location-update.timer
/test.db
/testdata.db
