*.log
*.o
*.tar.xz
.deps/
.libs/
Makefile
Makefile.in
/aclocal.m4
/autom4te.cache
/build-aux
/config.*
/configure
/libtool
/stamp-h1
/src/python/location-downloader
/src/python/location-exporter
/src/python/location-importer
/src/python/location-query
/src/systemd/location-downloader.service
/src/systemd/location-downloader.timer
/test.db
/testdata.db
