Source: libloc
Maintainer: Stefan Schantl <stefan.schantl@ipfire.org>
Section: misc
Priority: optional
Standards-Version: 4.3.0
Build-Depends:
 debhelper (>= 11),
 dh-python <!nopython>,
 asciidoc <!nodoc>,
 intltool (>=0.40.0),
 libpython3-dev <!nopython>,
 libssl-dev,
 libsystemd-dev,
 python3-dev:any <!nopython>,
 pkg-config,
 systemd,
 xsltproc <!nodoc>,
 docbook-xsl <!nodoc>,
 git,
Rules-Requires-Root: no
Homepage: https://location.ipfire.org/
Vcs-Git: https://git.ipfire.org/pub/git/location/libloc.git
Vcs-Browser: https://git.ipfire.org/pub/git/location/libloc.git

Package: libloc1
Architecture: any
Section: libs
Pre-Depends:
 ${misc:Pre-Depends}
Depends:
 ${shlibs:Depends},
 ${misc:Depends}
Recommends:
 location (= ${binary:Version})
Multi-Arch: same
Description: Location library
 A library to determine the location of someone on the Internet

Package: libloc-dev
Architecture: any
Section: libdevel
Depends:
 libloc1 (= ${binary:Version}),
 ${misc:Depends},
Suggests:
 pkg-config
Multi-Arch: same
Description: Development files for libloc
 Install this package if you wish to develop your own programs using
 libloc.

Package: location
Architecture: any
Pre-Depends:
 ${misc:Pre-Depends}
Depends:
 location-python (= ${binary:Version}),
 ${misc:Depends},
 ${python3:Depends}
Multi-Arch: same
Description: CLI utilities for libloc
 Commands to determine someone's location on the Internet

Package: location-importer
Architecture: any
Pre-Depends:
 ${misc:Pre-Depends}
Depends:
 location-python (= ${binary:Version}),
 ${misc:Depends},
 ${python3:Depends}
Multi-Arch: same
Description: Tools to author location databases
 This package contains tools that are required to build location databases

Package: location-python
Architecture: any
Section: python
Pre-Depends:
 ${misc:Pre-Depends}
Depends:
 ${misc:Depends},
 ${python3:Depends},
 ${shlibs:Depends}
Multi-Arch: same
Description: Python modules for libloc
 This package contains Python bindings for libloc
