Source: libloc
Maintainer: Stefan Schantl <stefan.schantl@ipfire.org>
Section: misc
Priority: optional
Standards-Version: 4.3.0
Build-Depends:
 debhelper (>= 11),
 dh-python <!nopython>,
 dh-systemd,
 asciidoc <!nodoc>,
 intltool (>=0.40.0),
 libpython3-all-dev <!nopython>,
 libssl-dev,
 libsystemd-dev,
 python3-all-dev:any <!nopython>,
 pkg-config,
 systemd,
 xsltproc <!nodoc>,
 docbook-xsl <!nodoc>,
Rules-Requires-Root: no
Homepage: https://location.ipfire.org/
Vcs-Git: https://git.ipfire.org/pub/git/location/libloc.git
Vcs-Browser: https://git.ipfire.org/pub/git/location/libloc.git

Package: libloc
Architecture: any
Pre-Depends:
 ${misc:Pre-Depends}
Depends:
 perl,
 ${shlibs:Depends},
 ${misc:Depends},
 ${python3:Depends},
Multi-Arch: same
Description: Location library
 A library to determine the location of someone on the Internet

Package: libloc-dev
Architecture: any
Section: libdevel
Depends:
 libloc (= ${binary:Version}),
 ${misc:Depends},
Suggests:
 pkg-config,
Multi-Arch: same
Description: Development files for libloc.
 Install this package if you wish to develop your own programs using
 libloc.

Package: libloc-perl
Architecture: any
Section: perl
Depends:
 ${misc:Depends},
 ${perl:Depends},
 ${shlibs:Depends}
Multi-Arch: same
Description: Perl bindings for libloc
 This package contains simple perl bindings for libloc.
